apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: paytrackr  # kubernetes.namespace
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s
    
    scrape_configs:
      - job_name: 'paytrackr'
        kubernetes_sd_configs:
          - role: pod
            namespaces:
              names:
              - paytrackr  # kubernetes.namespace
        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
            action: keep
            regex: true
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_port]
            action: replace
            target_label: __param_target
