apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: paytrackr  # kubernetes.namespace
  labels:
    app: postgres
spec:
  type: ClusterIP
  ports:
  - port: 5432  # postgres_deployment.port
    targetPort: 5432
    protocol: TCP
    name: postgres
  selector:
    app: postgres
